/* Coding Quiz Stylesheet */

/* Imported Fonts */

/* Noto Sans JP */
@import url('https://fonts.googleapis.com/css2?family=Noto+Sans+JP:wght@100;300;400;500;700;900&display=swap');

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

:root {
    --soft: #dcd9d4;
    --gray: #181a1b;
    --silver: #4b5155;
    --correct: #00cc80;
    --wrong: #ff172d;
    --neutral: #00c2ff;
    --neutralGlass: rgb(0 194 255 / 40%);
    --neutralDark: #1282a6;
    --neutralDarkGlass: rgb(18 130 166 / 70%);
    --silverGlass: rgb(75 81 85 / 85%);
    /* Add Backdrop Filter of 8px */
    --blackGlass: rgb(0 0 0 / 65%);
}

.hide {
    display: none;
}

.answer.list-item.correct {
    border: solid 1px var(--correct);
    background: transparent;
    transition: 150ms ease-in-out;
}

.answer.list-item.correct:hover {
    background: var(--correct);
    box-shadow: 0 0 20px var(--correct);
    transition: 150ms ease-in-out;
}

.answer.list-item.correct::before {
    color: var(--correct);
}

.answer.list-item.correct:hover::before {
    color: #fff;
}

.answer.list-item.wrong {
    border: solid 1px var(--wrong);
    background: transparent;
    transition: 150ms ease-in-out;
}

.answer.list-item.wrong:hover {
    background: var(--wrong);
    box-shadow: 0 0 20px var(--wrong);
    transition: 150ms ease-in-out;
}

.answer.list-item.wrong::before {
    color: var(--wrong);
}

.answer.list-item.wrong:hover::before {
    color: #fff;
}

.wrong {
    background: var(--wrong);
}

.neutral {
    background: var(--neutral);
}

.blackGlass {
    backdrop-filter: blur(8px);
    background: var(--blackGlass);
}

::selection {
    background: var(--silver);
}

body {
    scroll-behavior: smooth;
    color: white;
    font-family: Noto Sans JP;
    letter-spacing: 0.5px;
    display: flex;
    min-height: 100vh;
    justify-content: center;
    align-content: center;
    background: var(--neutralDark);
    /* Bars on Background */
    /* background: repeating-linear-gradient(90deg, var(--neutral) 0 2px, var(--neutralDark) 0 230px); */
}

a {
    color: white;
    font-family: Noto Sans JP;
    text-decoration: none;
    font-weight: 300 !important;
}

a:hover {
    cursor: pointer;
}

.hoverLine {
    position: relative;
    transition: 300ms ease-in-out;
}

.hoverLine::after {
    content: '';
    background: var(--neutral);
    position: absolute;
    transition: 300ms ease-in-out;
    height: 1px;
    width: 100%;
    bottom: -4px;
    left: 0;
    transform-origin: left;
    transform: scale(0,1);
}

.homeLink::after {
    width: 105%;
}

.hoverLine:hover::after {
    transition: 300ms ease-in-out;
    transform: scale(1,1);
}

header, footer {
    background: var(--blackGlass);
    height: 40px;
    backdrop-filter: blur(8px);
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0 50px;
    flex-wrap: wrap;
    font-family: Noto Sans JP;
    font-weight: 300 !important;
    font-size: 13px;
    grid-gap: 10px;
    z-index: 1;
}

header {
    position: fixed;
    top: 0;
    width: 100%;
}

footer {
    position: fixed;
    bottom: 0;
    width: 100%;
}

footer i, .vertical-sep {
    color: var(--neutral);
}

i.fas.fa-undo {
    font-size: 0.8em;
    margin-bottom: 0.em;
}

main {
    height: auto;
    display: flex;
    flex-direction: column;
    justify-content: center;
    grid-gap: 50px;
    align-items: center;
    background: linear-gradient(var(--neutralDarkGlass),var(--neutralDarkGlass)),url(/assets/images/Vectorquestion.svg);
    background-repeat: no-repeat;
    background-position: 50% 50%;
    background-size: 50em;
    margin: 40px 0;
}

/* Show Scores */
#scoresHover {
    position: absolute;
    top: 35px;
    left: 0;
    opacity: 0;
    width: 400%;
    border-radius: 10px;
    padding: 2em;
    background: var(--blackGlass);
    backdrop-filter: blur(8px);
    text-align: left;
    transform-origin: top;
    transform: scale(1,0);
    transition: 300ms ease-in-out;
    display: flex;
    flex-direction: column;
    grid-gap: 1em;
}

.showScoresLink:hover #scoresHover {
    transform: scale(1,1);
    opacity: 1;
}

/* End Time or Quiz Finish */
/* End Screens */

#formEntry {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 1em 0 0;
    flex-direction: row;
}

#formEntry input {
    background: var(--neutral);
    outline: none;
    border: none;
    padding: 0.7em 1em 0.5em;
    border-radius: 10px;
    color: #fff;
    font-weight: 600;
    text-align: center;
    font-size: 1em;
}

::placeholder {
    color: #fff;
}

#userStats {
    display: flex;
    width: 100%;
    justify-content: space-evenly;
    align-items: center;
}

.stats {
    display: flex;
    justify-content: space-between;
    align-items: center;
    min-width: 30vw;
}

#userStats .stats div {
    border-right: 1px solid var(--neutral);
    font-style: italic;
    padding: 0 1em;
    border-left: 1px solid var(--neutral);
}

#userStats .stats div:nth-child(1) {
    border-left: none;
}

#userStats .stats div:nth-child(4) {
    border-right: none;
}

#entryForm {
    display: flex;
    align-items: center;
    justify-content: space-evenly;
}

#submitButton {
    padding: 0.7em 1em 0.5em;
    border-radius: 10px;
    color: #fff;
    background: var(--neutral);
    outline: none;
    border: none;
    margin: 0 1em;
    font-weight: 600;
    font-size: 1em;
}

.statistic {
    display: flex;
    font-weight: 300;
    letter-spacing: 1px;
    justify-content: space-between;
}

#goodJobMessage {
    text-align: center;
    padding: 2em 1em 0;
    font-size: 20px;
    font-style: italic;
}

.endScreen h2 {
    padding: 0.5em 0;
}

.lineSepEnd {
    height: 5px;
    margin: 1.4em 0 1.2em;
    background: var(--neutral);
}

.contain.question.questionBox.quizBox.timeOut {
    min-width: 75vw;
}

.contain.question.questionBox.quizBox.timeOut .quizBoxTitle {
    justify-content: center;
    align-items: baseline;
}

.totalPointsElement {
    display: flex;
    align-items: center;
    justify-content: flex-start;
}

.totalPointsElement .iconContainer {
    min-width: 140px;
    justify-content: space-between;
    align-items: center;
}

.totalPointsElement .customIcon {
    font-size: .8em;
    color: #fff;
    background: var(--neutral);
    border-radius: 100%;
    font-weight: 800;
    outline: none;
    padding: 0.3em 0.45em;
    min-width: 1em;
    text-align: center;
    margin-bottom: 0px;
    margin-left: 10px;
}

.contain {
    padding: 3em;
}

.topbar i {
    color: var(--neutral);
}

.quizBox {
    background: var(--blackGlass);
    border-radius: 10px;
    backdrop-filter: blur(8px);
}

.quizBoxTitle {
    display: flex;
    justify-content: space-between;
    align-items: center;
    grid-gap: 45px;
}

.iconContainer {
    display: flex;
    justify-content: space-between;
    min-width: 140px;
    align-items: center;
}

.customIcon {
    font-size: 1em;
    color: #000000;
    background: white;
    border: 3px solid var(--neutral);
    border-radius: 100%;
    font-weight: 800;
    outline: none;
    padding: 0 .15em;
    min-width: 1.9em;
    text-align: center;
}

.customIcon:hover {
    color: #fff;
    background: transparent;
    cursor: crosshair;
}

.help:hover {
    cursor: pointer;
}

.transition {
    transition: 300ms ease-in-out;
}

h1 {
    font-weight: 300 !important;
}

.boldSecondary {
    font-weight: 500;
}

.lineSep {
    height: 0.1px;
    margin: 0.4em 0 0.2em;
    background: var(--neutral);
}

.spacer {
    padding: 0.3em 0;
}

h2 {
    font-weight: 500 !important;
    font-style: italic;
    border-bottom: 1px solid var(--neutral);
    display: inline-block;
    padding: 0.3em 0.3em 0.3em;
}

p {
    font-weight: 300 !important;
    margin-top: 15px;
}

span, p {
    color: white;
    font-family: 'Noto Sans JP' !important;
}

.questionBox {
    min-width: 90vw;
}

.list-group {
    display: flex;
    justify-content: flex-start;
    flex-direction: column;
    padding: 2.2em 0;
    grid-gap: 15px;
    font-size: 13px;
    font-weight: 300;
    flex-wrap: wrap;
    list-style: inside;
    min-height: 150px;
    height: 150px;
    max-height: 300px;
}

.answerChoices {
    display: grid !important;
    justify-content: stretch;
    grid-template-rows: 50% 50%;
    grid-template-columns: 50% 50%;
    list-style-type: none !important;
    column-gap: 15px !important;
    row-gap: 15px !important;
    grid-gap: 0;
}

.questionIndex {
    font-weight: 500 !important;
    font-style: italic;
    display: block;
    padding: 0.3em 0.3em 0.3em;
    margin-top: 10px;
    margin-bottom: -35px;
    text-align: center;
    border-bottom: none;
}

.answer {
    justify-self: stretch;
    align-self: center;
    border: solid 1px var(--neutral);
    padding: 1em;
    font-size: 15px;
    border-radius: 10px;
    font-weight: 400;
    transition: 150ms ease-in-out;
}

.answer::before {
    content: '> ';
    color: var(--neutral);
    font-size: 1em;
    font-family: system-ui;
    font-weight: 900;
    transition: 150ms ease-in-out;
}

.answer:hover {
background: var(--neutral);
    cursor: pointer;
    box-shadow: 0 0 20px var(--neutral);
    transition: 150ms ease-in-out;
    color: #000;
}

.answer:hover::before {
    color: #fff;
}

::marker {
    color: var(--neutral);
}

.gameButton {
    padding: 0.55em;
    width: 100%;
    display: block;
    float: none;
    clear: both;
    text-align: center;
    margin: 0 auto;
    border-radius: 8px;
    outline: none;
    border: 3px solid var(--neutral);
    background: #f2f2f2;
    color: black;
    font-weight: 700;
    letter-spacing: .1em;
    text-transform: uppercase;
    font-size: 0.7em;
}

.gameButton:hover {
    background: rgb(0 0 0 / 0%);
    color: white;
    cursor: pointer;
}

/* Media Queries */

/* Notebook Breakpoint */
@media screen and (max-width: 1215px) {

    #userStats {
        flex-direction: column;
    }

    #userStats .stats {
        margin-bottom: 2em;
    }

}

/* Tablet Breakpoint */
@media screen and (max-width: 992px) {

    main {
        background-size: 40em;
    }

}

/* Between Tablet and iPhone */
@media screen and (max-width: 805px) {

    #userStats .stats {
        flex-direction: column;
    }

    #userStats .stats div {
        width: 100%;
        margin: 15px 30px;
        text-align: center;
        border-left: none !important;
        border-right: none !important;
        border-bottom: 1px solid var(--neutral);
        padding-bottom: 2em;
    }
    
    #userStats .stats div:nth-child(4) {
        border-bottom: none;
    }

    #entryForm {
        display: flex;
        align-items: center;
        justify-content: stretch;
        flex-direction: column;
        width: 100%;
        grid-gap: 15px;
        margin-top: -3em;
        border-top: 1px solid var(--neutral);
        padding-top: 2.5em;
    }

    #formEntry input {
        width: 50%;
    }

    #submitButton {
        width: 50%;
    }

}

/* iPhone Breakpoint */
@media screen and (max-width: 768px) {

    .list-group {
        display: flex;
        justify-content: space-between;
        flex-direction: row;
        padding: 2.2em 0;
        grid-gap: 15px;
        font-size: 13px;
        font-weight: 300;
        flex-wrap: wrap;
        list-style: inside;
        min-height: 150px;
    }

    .answerChoices {
        display: grid !important;
        justify-content: stretch;
        grid-template-rows: 50% 50%;
        grid-template-columns: 50% 50%;
        list-style-type: none !important;
        column-gap: 15px !important;
        row-gap: 15px !important;
        grid-gap: 0;
    }

    .answer::before {
        display: none;
    }

    .questionIndex {
        margin-top: 0px;
        padding-bottom: .5em;
    }

}


/* Mobile Breakpoint */
@media screen and (max-width: 676px) {

    .homeLink {
        display: none;
    }

    main {
        background-size: 30em;
    }

    h1 {
        font-size: 1.5em;
        font-weight: 400 !important;
    }

    h2 {
        font-size: 1.2em;
        font-weight: 300 !important;
    }

    p {
        font-size: 0.85em;
        font-weight: 100 !important;
    }

    .list-group {
        font-size: 12px;
        font-weight: 100;
        height: auto;
        max-height: none;
    }

}

/* Small Breakppoint */
@media screen and (max-width: 400px) {

    header, footer {
        padding: 0 30px;
    }

    .contain {
        padding: 2.5em;
    }

    main {
        height: auto;
    }

    footer {
        justify-content: center;
    }

    .siteText {
        display: none;
    }

}