/* Coding Quiz Stylesheet */

/* Imported Fonts */

/* Noto Sans JP */
@import url('https://fonts.googleapis.com/css2?family=Noto+Sans+JP:wght@100;300;400;500;700;900&display=swap');

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

:root {
    --soft: #dcd9d4;
    --gray: #181a1b;
    --silver: #4b5155;
    --correct: #00cc80;
    --wrong: #ff172d;
    --neutral: #00c2ff;
    --neutralGlass: rgb(0 194 255 / 40%);
    --neutralDark: #1282a6;
    --neutralDarkGlass: rgb(18 130 166 / 70%);
    --silverGlass: rgb(75 81 85 / 85%);
    /* Add Backdrop Filter of 8px */
    --blackGlass: rgb(0 0 0 / 65%);
}

.hide {
    display: none;
}

.correct {
    background: var(--correct);
}

.wrong {
    background: var(--wrong);
}

.neutral {
    background: var(--neutral);
}

.blackGlass {
    backdrop-filter: blur(8px);
    background: var(--blackGlass);
}

::selection {
    background: var(--silver);
}

body {
    scroll-behavior: smooth;
    background: var(--neutralDark);
    color: white;
    font-family: Noto Sans JP;
    letter-spacing: 0.5px;
    display: flex;
    min-height: 100vh;
    justify-content: center;
    align-content: center;
}

a {
    color: white;
    font-family: Noto Sans JP;
    text-decoration: none;
    font-weight: 300 !important;
}

a:hover {
    cursor: pointer;
}

.hoverLine {
    position: relative;
    transition: 300ms ease-in-out;
}

.hoverLine::after {
    content: '';
    background: var(--neutral);
    position: absolute;
    transition: 300ms ease-in-out;
    height: 1px;
    width: 100%;
    bottom: -4px;
    left: 0;
    transform-origin: left;
    transform: scale(0,1);
}

.homeLink::after {
    width: 105%;
}

.hoverLine:hover::after {
    transition: 300ms ease-in-out;
    transform: scale(1,1);
}

header, footer {
    background: var(--blackGlass);
    height: 40px;
    backdrop-filter: blur(8px);
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0 50px;
    flex-wrap: wrap;
    font-family: Noto Sans JP;
    font-weight: 300 !important;
    font-size: 13px;
    grid-gap: 10px;
    z-index: 1;
}

header {
    position: fixed;
    top: 0;
    width: 100%;
}

footer {
    position: fixed;
    bottom: 0;
    width: 100%;
}

footer i, .vertical-sep {
    color: var(--neutral);
}

i.fas.fa-undo {
    font-size: 0.8em;
    margin-bottom: 0.em;
}

main {
    height: auto;
    display: flex;
    flex-direction: column;
    justify-content: center;
    grid-gap: 50px;
    align-items: center;
    background: linear-gradient(var(--neutralDarkGlass),var(--neutralDarkGlass)),url(/assets/images/Vectorquestion.svg);
    background-repeat: no-repeat;
    background-position: 50% 50%;
    background-size: 50em;
    margin: 40px 0;
}

.contain {
    padding: 3em;
}

.topbar i {
    color: var(--neutral);
}

.quizBox {
    background: rgb(0 0 0 / 65%);
    border-radius: 10px;
    backdrop-filter: blur(8px);
}

.quizBoxTitle {
    display: flex;
    justify-content: space-between;
    align-items: center;
    grid-gap: 45px;
}

.iconContainer {
    display: flex;
    justify-content: space-evenly;
    min-width: 120px;
    align-items: center;
}

.customIcon {
    font-size: 1em;
    color: #000000;
    background: white;
    border: 3px solid var(--neutral);
    border-radius: 100%;
    font-weight: 800;
    outline: none;
    padding: 0 .15em;
    min-width: 1.9em;
    text-align: center;
}

.customIcon:hover {
    color: #fff;
    background: transparent;
    cursor: crosshair;
}

.help:hover {
    cursor: pointer;
}

.transition {
    transition: 300ms ease-in-out;
}

h1 {
    font-weight: 300 !important;
}

.boldSecondary {
    font-weight: 500;
}

.lineSep {
    height: 0.1px;
    margin: 0.4em 0 0.2em;
    background: var(--neutral);
}

.spacer {
    padding: 0.3em 0;
}

h2 {
    font-weight: 500 !important;
    font-style: italic;
    border-bottom: 1px solid var(--neutral);
    display: inline-block;
    padding: 0.3em 0.3em 0.3em;
}

p {
    font-weight: 300 !important;
    margin-top: 15px;
}

span, p {
    color: white;
    font-family: 'Noto Sans JP' !important;
}

.list-group {
    display: flex;
    justify-content: flex-start;
    flex-direction: column;
    padding: 2.2em 0;
    grid-gap: 15px;
    font-size: 13px;
    font-weight: 300;
    flex-wrap: wrap;
    list-style: inside;
    min-height: 150px;
    height: 150px;
    max-height: 300px;
}

.answerChoices {
    display: grid !important;
    grid-template-rows: repeat(2, 1fr);
    grid-template-columns: repeat(2, 1fr);
    justify-items: flex-start;
    align-items: stretch;
    list-style-type: none !important;
}

.answer {
    justify-self: stretch;
    align-self: center;
    border: solid 1px var(--neutral);
    padding: 1em;
    font-size: 15px;
    border-radius: 10px;
    font-weight: 600;
}

.answer::before {
    content: '> ';
    color: var(--neutral);
    font-size: 1em;
    font-family: system-ui;
    font-weight: 900;
    transition: 300ms ease-in-out;
}

.answer:hover {
    background: var(--neutral);
    cursor: pointer;
}

.answer:hover::before {
    color: white;
}

::marker {
    color: var(--neutral);
}

.gameButton {
    padding: 0.55em;
    width: 100%;
    display: block;
    float: none;
    clear: both;
    text-align: center;
    margin: 0 auto;
    border-radius: 8px;
    outline: none;
    border: 3px solid var(--neutral);
    background: #f2f2f2;
    color: black;
    font-weight: 700;
    letter-spacing: .1em;
    text-transform: uppercase;
    font-size: 0.7em;
}

.gameButton:hover {
    background: rgb(0 0 0 / 0%);
    color: white;
    cursor: pointer;
}

/* Media Queries */

/* Tablet Breakpoint */
@media screen and (max-width: 992px) {

    main {
        background-size: 40em;
    }

}

/* iPhone Breakpoint */
@media screen and (max-width: 768px) {

    .list-group {
        display: flex;
        justify-content: space-between;
        flex-direction: row;
        padding: 2.2em 0;
        grid-gap: 15px;
        font-size: 13px;
        font-weight: 300;
        flex-wrap: wrap;
        list-style: inside;
        min-height: 150px;
    }

}


/* Mobile Breakpoint */
@media screen and (max-width: 676px) {

    .homeLink {
        display: none;
    }

    main {
        background-size: 30em;
    }

    h1 {
        font-size: 1.5em;
        font-weight: 400 !important;
    }

    h2 {
        font-size: 1.2em;
        font-weight: 300 !important;
    }

    p {
        font-size: 0.85em;
        font-weight: 100 !important;
    }

    .list-group {
        font-size: 12px;
        font-weight: 100;
        height: auto;
        max-height: none;
    }

}

/* Small Breakppoint */
@media screen and (max-width: 400px) {

    header, footer {
        padding: 0 30px;
    }

    .contain {
        padding: 2.5em;
    }

    main {
        height: auto;
    }

    footer {
        justify-content: center;
    }

    .siteText {
        display: none;
    }

}




