/* Coding Quiz Stylesheet */

/* Imported Fonts */
/* Noto Sans JP */
@import url('https://fonts.googleapis.com/css2?family=Noto+Sans+JP:wght@100;300;400;500;700;900&display=swap');

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

:root {
    --soft: #dcd9d4;
    --gray: #181a1b;
    --silver: #4b5155;
    --correct: #00cc80;
    --wrong: #ff172d;
    --neutral: #00c2ff;
    --neutralGlass: rgb(0 194 255 / 40%);
    --neutralDark: #1282a6;
    --neutralDarkGlass: rgb(18 130 166 / 70%);
    --silverGlass: rgb(75 81 85 / 85%);
}

.correct {
    background: var(--correct);
}

.wrong {
    background: var(--wrong);
}

.neutral {
    background: var(--neutral);
}

::selection {
    background: var(--silver);
}

body {
    scroll-behavior: smooth;
    background: var(--neutralDark);
    color: white;
    font-family: Noto Sans JP;
    letter-spacing: 0.5px;
}

a {
    color: white;
    font-family: Noto Sans JP;
    text-decoration: none;
    font-weight: 300 !important;
}

header, footer {
    background: black;
    height: 40px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0 50px;
    flex-wrap: wrap;
    font-family: Noto Sans JP;
    font-weight: 300 !important;
    font-size: 13px;
}

footer {
    position: fixed;
    bottom: 0;
    width: 100%;
}

footer i, footer li, .vertical-sep {
    color: var(--neutral);
}

main {
    height: 860px;
    display: flex;
    justify-content: center;
    align-items: center;
    background: linear-gradient(var(--neutralDarkGlass),var(--neutralDarkGlass)),url(/assets/images/Vectorquestion.svg);
    background-repeat: no-repeat;
    background-position: 50% 50%;
    background-size: 50em;
}

.contain {
    padding: 3em;
}

.topbar i {
    color: var(--neutral);
}

.quizBox {
    background: black;
    border-radius: 10px;
}

.quizBoxTitle {
    display: flex;
    justify-content: space-between;
    align-items: center;
    grid-gap: 45px;
}

.quizBoxTitle i {
    font-size: 1.5em;
    color: #f2f2f2;
    border: 5px solid #0f89b0;
    border-radius: 100%;
    font-weight: 600;
    outline: none;
}

.quizBoxTitle i:hover {
    color: #ededed;
    border: 5px solid #0cade1;
    cursor: pointer;
}

.transition {
    transition: 300ms ease-in-out;
}

h1 {
    font-weight: 300 !important;
}

.lineSep {
    height: 0.1px;
    margin: 0.4em 0 0.2em;
    background: var(--neutral);
}

.spacer {
    padding: 0.3em 0;
}

h2 {
    font-weight: 300 !important;
    font-style: italic;
    border-bottom: 1px solid var(--neutral);
    display: inline-block;
}

p {
    font-weight: 100 !important;
    margin-top: 15px;
}

/* Media Queries */

/* Tablet Breakpoint */
@media screen and (max-width: 992px) {

    main {
        background-size: 40em;
    }

}

/* Mobile Breakpoint */
@media screen and (max-width: 500px) {

    .homeLink {
        display: none;
    }

    main {
        background-size: 30em;
    }

    h1 {
        font-size: 1.5em;
        font-weight: 400 !important;
    }

    h2 {
        font-size: 1.2em;
    }

    p {
        font-size: 0.85em;
    }

}


